
#dizzy{
    font-family: anurati;
    color: #FFF;
    font-size: 140px;
    letter-spacing: 10px;
    text-transform: uppercase;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    line-height: 350%;
    top: 30%;
}

#welcome{
    font-family: anurati; 
    text-align: center;
    color:#FFF;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: white;
}

.bgIMG1, .bgIMG2, .bgIMG3, .bgIMG4, .bgIMG_contact{
    position:relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* fixed = parallax / scroll = norm*/

}

.bgIMG1{
    background-image:url("../media/background.png"), url("../media/drydizzy_black.png"), url("../media/backbackground.png");
    height: 100%;
    background-attachment: fixed, scroll, fixed;
}
.bgIMG2{
    background-image:url("../media/trippyCro.png");
    min-height: 500px;
}

.bgIMG3{
    background-image:url("../media/videos.jpg");
    min-height: 500px;
}

.bgIMG4{
    background-image:url("../media/coding.gif");
    min-height: 500px;
}

.bgIMG_contact{
    background-image:url("../media/backbackground.png");
    min-height: 100%;
}

.ptext .border:hover{
    background-color: rgb(0, 0, 0);
    color: black;
}

.section{
    text-align: center;
    padding:50px 80px;
    background-color: rgb(0, 0, 0);
    color:white;
    font-size: 20px;
}

.ptext{
    font-family: anurati;
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color:#000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color:#fff;
    padding: 20px;
}

@media(max-width:568px){
    .main, .bgIMG_contact, .bgIMG2, .bgIMG3, .bgIMG4{
        background-attachment: scroll;
    }
    .bgIMG1{
        background-image:url("../media/background.png"), url("../media/drydizzy_black.png"), url("../media/backbackground.png");
        height: 100%;
        background-attachment: fixed, scroll, fixed; 
        background-size: cover, 100%, cover;
    }
}