body, html{
    height: 100%;
    margin:0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight:400;
    line-height: 1.8em;
    color:#666;
      
}

/*Navbar BEGINNING*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: #f1f1f1;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 50px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.054);
    color: white;
    height: 69px;
    width: 69px;
    border: none;
}
  
.openbtn:hover {
    background-color: #444;
}
  
#main {
    transition: margin-left .5s;
    padding: 26px;
    overflow: hidden;
    position: fixed;
    z-index: 1;


}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
/*Navbar END*/

a{
    text-decoration: none;
    color: white;
}

#logo{
    max-width: 90%;
    margin-top: 200px;
}

.bgIMG1, .bgIMG2, .bgIMG3, .bgIMG4{
    position:relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* fixed = parallax / scroll = norm*/

}

.ptext .border:hover{
    background-color: rgb(0, 0, 0);
    color: black;
}

.bgIMG1{
    background-image:url("../media/firstBG.jpg");
    min-height: 100%;
    max-height: 100%;
    text-align: center;
}

.bgIMG2{
    background-image:url("../media/trippyCro.png");
    min-height: 400px;
}

.bgIMG3{
    background-image:url("../media/videos.jpg");
    min-height: 400px;
}

.bgIMG4{
    background-image:url("../media/coding.gif");
    min-height: 400px;
}

.section{
    text-align: center;
    padding:50px 80px;
    background-color: black;
    color:white;
}

.ptext{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color:#000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color:#fff;
    padding: 20px;
}

@media(max-width:568px){
    .bgIMG1, .bgIMG2, .bgIMG3, .bgIMG4{
        background-attachment: scroll;
    }
}